.rightSide {
  flex: 2.5;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  /* align-items: center; */
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIcons {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}

.r-button {
  padding: 5px;
  height: 60px;
  width: 60px;
  color: blue;
  border-radius: 100%;
  align-self: center;
}
